<!-- This would display the string "Hello World!" -->

<!-- step 1
<h1><%= greeting %></h1>
-->

<!-- step 2 interation showing conditions-->
<% if(greeting) {%>
    <!-- This line will only show if greeting is truthy -->
    <h1><%= greeting %></h1>
  <% }%>